.btn {
  border: 1px solid transparent;
  border-radius: .25rem;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  justify-content: center;
  outline: none;
  overflow: hidden; 
  padding: .375rem .75rem;
  position: relative; 
  text-decoration: none;
  width: 100%;
}

.btn span {
  position: absolute; 
  border-radius: 50%; 
  /* To make it round */
  background-color: white; 

  width: 100px; 
  height: 100px; 
  margin-top: -50px; 
  /* for positioning */
  margin-left: -50px; 

  animation: ripple 1s; 
  opacity: 1; 
}

@keyframes ripple { 
  from { 
    transform: scale(0); 
  } 

  to { 
    opacity: 0; 
    transform: scale(10); 
  } 
} 
